.book-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px auto;
    font-family: 'Arial', sans-serif;
  }
  
  .book-details-content {
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
    align-items: center;
    align-items: flex-start;
    width: 100%;
  }
  
  .book-image {
    max-width: 40%;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
  }
  
  .book-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
  }
  
  .book-info h1 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #333;
  }
  
  .book-info p {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #555;
  }
  
  .book-info p strong {
    color: #333;
  }
  
  .bookoins {
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffab00;
    margin: 10px 0;
    padding: 5px 10px;
    border: 1px solid #ffab00;
    border-radius: 5px;
    background-color: #fff3cd;
    width:fit-content;
  }
  
  .book-details-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }
  
  .book-details-buttons button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin: 5px;
  }
  
  .book-details-buttons button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }
  
  /* Estilos responsivos */
  @media (max-width: 768px) {
    .book-details-content {
      flex-direction: column;
      align-items: center;
    }
  
    .book-image {
      max-width: 80%;
      margin-bottom: 20px;
      margin-right: 0;
    }
  
    .book-details-buttons {
      flex-direction: column;
      align-items: center;
    }
  
    .book-details-buttons button {
      width: 80%;
      margin-bottom: 10px;
    }
  }
  
  @media (max-width: 480px) {
    .book-details {
      padding: 10px;
    }
  
    .book-info h1 {
      font-size: 1.5rem;
    }
  
    .book-info p {
      font-size: 0.9rem;
    }
  
    .book-details-buttons button {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  